.bikeCard {
    width: 250px;
    margin: 0 auto;
    /* Adjust width as needed */
    border: 1px solid #ddd;
    /* Optional border */
    border-radius: 5px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensures content fits within the borders */
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .bikeCard {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        /* Adjust width as needed */
        border: 1px solid #ddd;
        /* Optional border */
        border-radius: 3px;
        /* Rounded corners */
        overflow: hidden;
        /* Ensures content fits within the borders */
        display: flex;
        flex-direction: column;
    }
}

.bikeImage {
    width: 100%;
    height: 125px;
    /* Half of the box's height */
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
}

.bikeInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: salmon;
}

.bikeName {
    font-size: 1.0em;
    /* Larger text for name and quantity */
    font-weight: bold;
    margin-bottom: 3px;
}

.bikeSubInfo {
    font-size: 0.9em;
    /* Smaller text for price and weight */
    margin-bottom: 8px;
}

.bikeDescription {
    font-size: 1em;
    /* Adjust as needed */
    margin-bottom: 8px;
}

.bikeActions {
    display: flex;
    justify-content: space-between;
}

.cardButton,
.detailsButton {
    padding: 3px 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.cardButton {
    background-color: #ff0101ce;
    color: white;
}

.detailsButton {
    background-color: rgb(92, 180, 239);
    color: white;
}